<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>FileTransmitter</title>
</head>
<body onload="setFileName()">

<h1>File Transmitter</h1>
<input type="button" value="Refresh" onclick="location.href=('{% url 'main:home' %}')">
{% if messages %}
{% for msg in messages %}
{{ msg }}
{% endfor %}
{% endif %}


<form action="{% url 'main:upload' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Upload file</h2>
    <input type="file" accept=".*" id="uploader" name="uploader">
    <input type="submit" value="Upload">
</form>
<h2>Download file</h2>
<table>
    {% for file in files %}
    <tr>
        <td id="td_{{file}}">{{file}}</td>
        <td>
            <input type="button" value="Download" onclick="location.href=('{% url 'main:download' file %}')">
        </td>
    </tr>
    {% endfor %}
</table>

<script>
    setFileName = function(){
        var filename;
        {% for file in files %}
        filename = document.getElementById("td_{{file}}").textContent

        document.getElementById("td_{{file}}").textContent = decodeURIComponent(filename);
        {% endfor %}
    }
</script>

</body>
</html>